# Experiment 5
# Title : To study Sets and dictionary in python
### Name : Krish
### PRN : 25070123064
### Batch : A-3

# Set

In [ ]:
# Creation of Set
myset = {"lion","tiger","monkey","banana"}
print(myset)

{'lion', 'banana', 'monkey', 'tiger'}

In [ ]:
# Duplicates not allowed
myset = {"lion","tiger","monkey","banana","lion"}
myset

{'banana', 'lion', 'monkey', 'tiger'}

In [ ]:
# The values of True and 1 are considered the same value in sets, and are treatred as duplicates :
myset = {"lion","tiger","monkey","banana",True,1,2}
print(myset)
myset = {"lion","tiger","monkey","banana",False,0}
print(myset)

{'tiger', True, 2, 'lion', 'monkey', 'banana'}
{False, 'tiger', 'lion', 'monkey', 'banana'}

In [ ]:
# A set allows string, integers, boolean values, float etc
newset = {"a",40,1.1,True}
newset

{1.1, 40, True, 'a'}

In [ ]:
# To check membership
myset = {"lion","tiger","monkey","banana"}
print("lion" in myset)
print("monkey" not in myset)

True
False

In [ ]:
# Once a set is created you cannot replace its items, but u can add new items, and remove items
myset = {"lion","tiger","monkey","banana"}
myset.add("elephant")
myset.remove("banana")
myset

{'elephant', 'lion', 'monkey', 'tiger'}

In [ ]:
# Set operations
a={10,20,30,40,50}
b={40,50,60,70,80}
print("Union :",a|b)
print("Intersection :",a&b)
print("Difference :",a-b)
print("Symmetric Difference :",a^b)

Union : {70, 40, 10, 80, 50, 20, 60, 30}
Intersection : {40, 50}
Difference : {10, 20, 30}
Symmetric Difference : {80, 20, 70, 10, 60, 30}

# Python FrozenSet

In [ ]:
# frozenset
myset = frozenset({"lion","tiger","monkey","banana"})
#frozenset(myset) cannot do it like this
myset.add("elephant")
myset

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# remove item
myset = frozenset({"lion","tiger","monkey","banana"})
myset.remove("banana")
myset

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
'''1. Unique event partcipation
Colleg evenet has list of students who registered multiple times by mistake
only display unique names'''
students = ["Krish","Krishiv","Khush","Harshit","Kshitij","Krish","Krish","Kahaan","Krishiv"]
print(set(students))

{'Krishiv', 'Krish', 'Khush', 'Kshitij', 'Kahaan', 'Harshit'}

In [ ]:
'''2. three students choose elective subjects, find common subjects chosen by all students using set operations'''
student1={"Maths","Cybersecurity","Data science","VLSI"}
student2={"Cybersecurity","English","AIML"}
student3={"Maths","Cybersecurity","Data science","AIML"}
print("Common Elective :",student1&student2&student3)

Common Elective : {'Cybersecurity'}

In [ ]:
'''3. One set contains students in cricket club and another in football club
Find students who are in both and only in one club'''
cricket={"Krish","Krishiv","Khush","Harshit","Kshitij"}
football={"Krish","Kahaan","Harshit"}
print("Only in one club :",cricket^football)
print("In both club :",cricket&football)

Only in one club : {'Krishiv', 'Khush', 'Kshitij', 'Kahaan'}
In both club : {'Harshit', 'Krish'}

In [ ]:
'''4. Absent students, give a set of all students and a set of present students, find the absent students'''
total={"Krish","Krishiv","Khush","Harshit","Kshitij","Swastik","Vishvam","Akshat"}
present={"Krish","Kahaan","Harshit","Swastik"}
print("Absent students :",total-present)

Absent students : {'Vishvam', 'Krishiv', 'Khush', 'Kshitij', 'Akshat'}

In [ ]:
'''5. Remove invalid entries
A set contains valid course codes. Remove a discontinued course code from the set'''
course_code = {"ETC101","ETC102","ETC103","ETC201","ETC202","ETC203"}
course_code.remove("ETC103")
print("Updated course code :",course_code)

Updated course code : {'CS101', 'CS201', 'CS202', 'CS203', 'CS102'}

# Dictionary

In [ ]:
# Creating a dictionary
mydictionary = {"brand":"Porche","model":"Cayenne","year":2024}
print(mydictionary)
print(type(mydictionary))

{'brand': 'Porche', 'model': 'Cayenne', 'year': 2024}
<class 'dict'>

In [ ]:
# Dictionary takes the latest valur given for key. It will not allow duplicate values
mydictionary = {"brand":"Porche","model":"Cayenne","year":2024,"year":2025}
mydictionary

{'brand': 'Porche', 'model': 'Cayenne', 'year': 2025}

In [ ]:
# Using len function to find out lenght of a dictionary
mydictionary = {"brand":"Porche","model":"Cayenne","year":2024}
print("Number of members in dictionary :",len(mydictionary))

Number of members in dictionary : 3

In [ ]:
# Adding values in the dictionary
car = {"Brand":"Porche","Model":"Cayenne","Year":2024}
car["Colour"]="Gray"
print(car.values())

dict_values(['Porche', 'Cayenne', 2024, 'Gray'])

In [ ]:
#Retrieving ur data
student = {"PRN":25070123053, "Name":"Harshit","Branch":"E&TC","Batch":"A3"}
student["Semester"] = 2
print("Name :",student["Name"],"\nBatch :",student["Batch"])
print(student)

Name : Harshit
Batch : A3
{'PRN': 25070123053, 'Name': 'Harshit', 'Branch': 'E&TC', 'Batch': 'A3', 'Semester': 2}

In [ ]:
# Removing elements from a dictionary
student = {"PRN":25070123053, "Name":"Harshit","Branch":"E&TC","Batch":"A3"}
student.pop("Batch")
print(student)

{'PRN': 25070123053, 'Name': 'Harshit', 'Branch': 'E&TC'}

In [ ]:
'''1. A dictionary stores products names and their prices. Write a python program to update the price of a given product'''
products = {"Pen":10,"Stickers":50,"Sketch Pens":30,"Glue Stick":10}
print("Original Dictionary :",products)
products["Pen"] = 15
print("Updated Dictionary :",products)

Original Dictionary : {'Pen': 10, 'Stickers': 50, 'Sketch Pens': 30, 'Glue Stick': 10}
Updated Dictionary : {'Pen': 15, 'Stickers': 50, 'Sketch Pens': 30, 'Glue Stick': 10}

In [ ]:
'''2. A dictionary stores student names and marks. Write a python program to search for a students marks using the name entered by the user
if the student is not found, display a suitable message.'''
student={"Harshit":98,"Khush":98,"Kshitij":97,"Krishiv":99}
name = input("Enter student name : ")
'''if name in student:
  print("Marks of",name,student[name])
else :
  print("Student not found")'''
print("Marks of",name,student.get(name,"Student not found"))

Enter student name : Harshit
Marks of Harshit 98

In [ ]:
'''3. A dictionary stores usernames and passwords.
Write a python programe to validate user login'''
login={"admin":1234,"student":"student","HOD":"ENTC"}
print(type(login["admin"]))
username = input("Enter username : ")
password = input("Enter password : ")
if password in '1234567890':
  password = int(password)
if username in login and password == login[username]:
  print("Login Successful")
else :
  print("Login Failed")

<class 'int'>
Enter username : admin
Enter password : 1234
Login Successful

In [ ]:
'''4. A dictionary stores sudent names and marks.
Write a python program to find the student who scored the highest marks'''
student={"Harshit":98,"Khush":98,"Kshitij":97,"Krishiv":99}
marks = max(student,key=student.get)
print("Highest marks :",marks,":",student[marks])

Highest marks : Krishiv : 99