# Name : Krish
## PRN : 25070123064
## Batch : A-3
## Title : Study of list and various operation on it

In [ ]:
# Python lists
mylist=["Tiger","Elephant","Camel"]
print(mylist)

['Tiger', 'Elephant', 'Camel']

In [ ]:
# List length
mylist=["Tiger","Elephant","Camel"]
print(len(mylist))

3

In [ ]:
# A list with strings, integers and boolean values
list1=["abc",34, True, 40.05, 3+5j]
list1                               #if we have only variable we can just write the variable to print it.

['abc', 34, True, 40.05, (3+5j)]

In [ ]:
# Access Items
mylist=["Tiger","Elephant","Camel"]
print(mylist[1])

Elephant

In [ ]:
# Reverse/Negative Indexing
mylist=["Tiger","Elephant","Camel"]
print(mylist[-3])

Tiger

In [ ]:
# Slicing
mylist=["Tiger","Elephant","Camel","Giraffe","Kiwi","Ostrich","Lion","Zebra"]
print(mylist[2:5])
print(mylist[-4:-2])
print(mylist[-4:])

['Camel', 'Giraffe', 'Kiwi']
['Kiwi', 'Ostrich']
['Kiwi', 'Ostrich', 'Lion', 'Zebra']

In [ ]:
# Change Item Value
mylist=["Tiger","Elephant","Camel"]
mylist[1]="Rhino"
mylist

['Tiger', 'Rhino', 'Camel']

In [ ]:
  # Append Items
mylist=["Tiger","Elephant","Camel"]
mylist.append("Crocodile")
mylist

['Tiger', 'Elephant', 'Camel', 'Crocodile']

In [ ]:
# Insert Items
mylist=["Tiger","Elephant","Camel"]
mylist.insert(1,"Hippo")
mylist

['Tiger', 'Hippo', 'Elephant', 'Camel']

In [ ]:
mylist=["Tiger","Elephant","Camel"]
summer=["Mango","Papaya","Carrot"]
mylist.extend(summer)
mylist

['Tiger', 'Elephant', 'Camel', 'Mango', 'Papaya', 'Carrot']

In [ ]:
# Searching Items
u=6 in [3,5,6,7]
v=8 in [3,5,6,7]
print(u)
print(v)

True
False

In [ ]:
# Repetition
list = ('-Harshit-')*7
list

'-Harshit--Harshit--Harshit--Harshit--Harshit--Harshit--Harshit-'

In [ ]:
# Slicing
numbers = [10,20,30,40,50]
print("Elements from index 1 to 3 :",numbers[1:4])
print("First 3 elements :",numbers[:3])
print("Elements from index 2 onwwards : (Reverse indexing)",numbers[-3:])
print("All elements :",numbers[:])

Elements from index 1 to 3 : [20, 30, 40]
First 3 elements : [10, 20, 30]
Elements from index 2 onwwards : (Reverse indexing) [30, 40, 50]
All elements : [10, 20, 30, 40, 50]

In [ ]:
#1.
marks = [78,85,90,66,88]
print("Max : ",max(marks))
print("Min : ",min(marks))
print("Sum of marks :",sum(marks))
print("No. of students : ",len(marks))
marks.sort()
print("Ascending order : ",marks)
print("Average marks :",sum(marks)/len(marks))

Max :  90
Min :  66
Sum of marks : 407
No. of students :  5
Ascending order :  [66, 78, 85, 88, 90]
Average marks : 81.4

In [ ]:
'''2. Grocery Shopping list
A user maintains a grocery list for monthly shopping'''
groc=["Eggs", "Brocolli", "Butter", "Olive", "Oil"]
print("Created gorcery list :",groc)
groc.append("Sugar")
print("Added new items :",groc )
groc.remove("Oil")
print("Remove purchased items : Oil")
print("Final list :",groc)

Created gorcery list : ['Eggs', 'Brocolli', 'Butter', 'Olive', 'Oil']
Added new items : ['Eggs', 'Brocolli', 'Butter', 'Olive', 'Oil', 'Sugar']
Remove purchased items : Oil
Final list : ['Eggs', 'Brocolli', 'Butter', 'Olive', 'Sugar']

In [ ]:
'''3.Contact list
A user maintains a contact list'''
contact=["Krish","Krishiv","Kshitij","Khush","Kahan","Vishvam"]
print("Contacts list created :",contact)
contact.append("Harshit")
print("Add Contact : Harshit")
contact.remove("Krishiv")
print("Remove contact Krishiv :",contact)
contact.sort()
print("Alphabetical order :",contact)

Contacts list created : ['Krish', 'Krishiv', 'Kshitij', 'Khush', 'Kahan', 'Vishvam']
Add Contact : Harshit
Remove contact Krishiv : ['Krish', 'Kshitij', 'Khush', 'Kahan', 'Vishvam', 'Harshit']
Alphabetical order : ['Harshit', 'Kahan', 'Khush', 'Krish', 'Kshitij', 'Vishvam']

In [ ]:
#Slicing Practice
list1=[20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-2])
print(list1[4:6:-1])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70]
[]
[10]

In [ ]:
'''4. Temperature Analysis
Daily temperature reading of a city are stored'''
temperature=[7,11,20,19,25,14,9,10,21,5]
print("Temprature of first five days :",temperature[0:5],"\nTemprature of last 5 days :",temperature[-5:])
print("Highest temperature :",max(temperature))
print("Lowest temperature :",min(temperature))
print("Average of the temperature :",sum(temperature)/len(temperature))

Temprature of first five days : [7, 11, 20, 19, 25]
Temprature of last 5 days : [14, 9, 10, 21, 5]
Highest temperature : 25
Lowest temperature : 5
Average of the temperature : 14.1

In [ ]:
'''5. Daily expense tracker
A person maintains track of daily expense'''
expense = [100,250,150,275,300,500,1000]
print("Total expense :",sum(expense))
print("Average expense :",sum(expense)/len(expense))
print("Maximum expense :",max(expense))
print("Minimum expense :",min(expense))

Total expense : 2575
Average expense :%.2f 367.85714285714283
Maximum expense : 1000
Minimum expense : 100