# Experiment-10

## Create Dataset and Load Dataset
## Name- Krish Joshi
## Batch- EnTC A3
## PRN- 25070123064

In [ ]:
import pandas as pd
data = {
    "Roll_no":[101,102,103,104,105],
    "Gender":["Male","Female","Female","Male","Female"],
    "Department":["Entc","Cse","Entc","Mechanical","AIML"],
    "CGPA":[9.1,3.4,7.0,9.2,7.2]
}
df = pd.DataFrame(data)
df.to_csv("students.csv", index=False)
df

   Roll_no  Gender  Department  CGPA
0      101    Male        Entc   9.1
1      102  Female         Cse   3.4
2      103  Female        Entc   7.0
3      104    Male  Mechanical   9.2
4      105  Female        AIML   7.2

In [ ]:
df.size

20

In [ ]:
df.shape

(5, 4)

In [ ]:
df.info

<bound method DataFrame.info of    Roll_no  Gender  Department  CGPA
0      101    Male        Entc   9.1
1      102  Female         Cse   3.4
2      103  Female        Entc   7.0
3      104    Male  Mechanical   9.2
4      105  Female        AIML   7.2>

In [ ]:
#Access information of Column Department
#Access information of PRN 103
#Find out data type of each column
#Perform mean median and mode operation
#Insert a new column Grade
#Delete Gender column
#CGPA of topper
#PRN 103

In [ ]:
#Access information of Column Department
df.Department

0          Entc
1           Cse
2          Entc
3    Mechanical
4          AIML
Name: Department, dtype: object

In [ ]:
#Access information of PRN 103
df.loc[2]

Roll_no          103
Gender        Female
Department      Entc
CGPA             7.0
Name: 2, dtype: object

In [ ]:
#Find out data type of each column
df.dtypes

Roll_no         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [ ]:
#Perform mean, median and mode operation
mean1=df.CGPA.mean()
print(mean1)

7.18

In [ ]:

median1=df.CGPA.median()
print(median1)

7.2

In [ ]:

mode1=df.CGPA.mode()
print(mode1)

0    3.4
1    7.0
2    7.2
3    9.1
4    9.2
Name: CGPA, dtype: float64

In [ ]:
#Delete Gender column
df.drop("Gender", axis=1, inplace=True)
df

   Roll_no  Department  CGPA
0      101        Entc   9.1
1      102         Cse   3.4
2      103        Entc   7.0
3      104  Mechanical   9.2
4      105        AIML   7.2

In [ ]:
#PRN 103
print(df.loc[4,"CGPA"])

7.2

In [ ]:
#CGPA of topper
toppergpa=df.CGPA.max()
print(toppergpa)

9.2

In [ ]:
#Upload the dataset
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Cars93.csv")
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [ ]:
df.head
print(df.head)

<bound method NDFrame.head of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>

In [ ]:
df.tail
print(df.tail)

<bound method NDFrame.tail of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>

In [ ]:
df.size
print(df.size)

930

In [ ]:
df.info
print(df.info)

<bound method DataFrame.info of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>

In [ ]:
df.describe
print(df.describe)

<bound method NDFrame.describe of    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0         Acura  Integra    Small   15.9        25                 NaN
1         Acura   Legend  Midsize   33.9        18  Driver & Passenger
2          Audi       90  Compact   29.1        20         Driver only
3          Audi      100  Midsize   37.7        19  Driver & Passenger
4           BMW     535i  Midsize   30.0        22         Driver only
..          ...      ...      ...    ...       ...                 ...
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
0          140           5            26.5          11.0
1          200           5            30.0          15.0
2          172           5            28.0          14.0
3          172           6            31.0          17.0
4          208           4            27.0          13.0
..         ...         ...             ...           ...
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0

[93 rows x 10 columns]>