# Experiment- 9
## Name : Krish Joshi
## PRN : 25070123064
## Batch : EnTC A3
## Title: Study of Pandas

In [2]:
# Initialisation of Pandas

import pandas as pd

s = pd.Series([1, 3, 5, 6, 8])
s

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [3]:
# Create a Dataframe

data = {
    "Name" : ["Tanmay", "Krish", "Krishiv", "Kahaan", "Khush"],
    "Marks" : [95, 100, 93, 85, 89]
}
df = pd.DataFrame(data)
df

      Name  Marks
0   Tanmay     95
1    Krish    100
2  Krishiv     93
3   Kahaan     85
4    Khush     89

In [4]:
df.head()
# df.tail()

      Name  Marks
0   Tanmay     95
1    Krish    100
2  Krishiv     93
3   Kahaan     85
4    Khush     89

In [5]:
''' if nothing is mentioned in the bracet then first and last five is printed
for head and tail function. Nut, the number of rows to be printed can be changed'''

df.head(2)

     Name  Marks
0  Tanmay     95
1   Krish    100

In [6]:
df.tail(3)

      Name  Marks
2  Krishiv     93
3   Kahaan     85
4    Khush     89

In [7]:
# Find the structure of the dataframe

df.shape

(5, 2)

In [8]:
# To check the number of columns

df.ndim

2

In [9]:
# To check the number of columns

df.ndim

2

In [ ]:
# Total number of elements = no of columns x no of rows

df.size

10

In [10]:
# Display column Names

df.columns

Index(['Name', 'Marks'], dtype='object')

In [11]:
# Check Data Types of each Column
# object   -   Categorical data
# int64    -   Numerical Data

df.dtypes

Name     object
Marks     int64
dtype: object

In [12]:
# Access Individual Column

df["Name"]

0     Tanmay
1      Krish
2    Krishiv
3     Kahaan
4      Khush
Name: Name, dtype: object

In [13]:
# Access Individual Column

df["Name"]

0     Tanmay
1      Krish
2    Krishiv
3     Kahaan
4      Khush
Name: Name, dtype: object

In [14]:
# Access Specific Row

df.loc[3]

Name     Kahaan
Marks        85
Name: 3, dtype: object

In [15]:
# Add a New Column

df["Grade"] = ["First Class", "Distinction", "First Class", "Second Class", "Second Class"]

df

      Name  Marks         Grade
0   Tanmay     95   First Class
1    Krish    100   Distinction
2  Krishiv     93   First Class
3   Kahaan     85  Second Class
4    Khush     89  Second Class

In [16]:

# Update Data in DataFrame
# Change marks of third student to 97

df.loc[2, "Marks"] = 100
df.loc[2, "Grade"] = "Distinction"
df

      Name  Marks         Grade
0   Tanmay     95   First Class
1    Krish    100   Distinction
2  Krishiv    100   Distinction
3   Kahaan     85  Second Class
4    Khush     89  Second Class

In [17]:
# Delete a Column

df.drop("Grade", axis=1, inplace = True)
''' axis = 1 --> column, axis = 0 --> row '''
''' inplace is used to make the changes permanently to the dataframe'''
df

      Name  Marks
0   Tanmay     95
1    Krish    100
2  Krishiv    100
3   Kahaan     85
4    Khush     89

In [18]:
# Perform Basic Statistical Analysis

meandf = df["Marks"].mean()
print("Mean: ", meandf)

Mean:  93.8

In [19]:
import pandas as pd

# Create DataFrame
data = {
    "Name": ["Tira", "Vaidehi", "Meera"],
    "Marks": [85, 91, 77]
}

df = pd.DataFrame(data)

# Calculate mode
modedf = df["Marks"].mode()

print("Mode:", modedf)

Mode: 0    77
1    85
2    91
Name: Marks, dtype: int64

In [20]:
# Aggregate Functions in Data Frames

min_value = df["Marks"].min()
max_value = df["Marks"].max()
sum_value = df["Marks"].sum()

print("Maximum of Marks: ", max_value)
print("Minimum Value of Marks: ", min_value)
print("Sum of Marks: ", sum_value)

Maximum of Marks:  91
Minimum Value of Marks:  77
Sum of Marks:  253

In [21]:
# Apply conditions (Filtering)
# Display Students who scored more than 90

df[df["Marks"] > 90]

      Name  Marks
1  Vaidehi     91

In [23]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1': [11,21, np.nan], 'C2': [15, np.nan, np.nan], 'C3': [10,20,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [24]:
df1.isna() #Boolean Function

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [25]:
df1.notna() # Boolean function indicating non-missing values

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [26]:
df1.isna().sum() #Column-wise NaN values

C1    1
C2    2
C3    0
dtype: int64

In [27]:
df1.dropna() #NaN Rows are dropped

     C1    C2  C3
0  11.0  15.0  10